{
  "extends": ["taro/react"],
  "rules": {
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "jsx-quotes": ["error", "prefer-double"],
    "react/jsx-curly-brace-presence": [1, { "props": "always", "children": "never" }]
  }
}
