@tailwind base;
@tailwind components;
@tailwind utilities;

.glass {
  backdrop-filter: blur(30px) brightness(90%) saturate(180%);
  -webkit-backdrop-filter: blur(30px) brightness(90%) saturate(180%);
  background-color: rgba(255, 255, 255, 0.0274509804);
}

.white-glass {
  background-color: rgba(255, 253, 248, 0.88);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
}

::-webkit-scrollbar{
  width:0;
  height:0;
  color:transparent;
  display:none
}
